@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
html,
body {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: #555;
}

* {
    box-sizing: border-box;
}

header {
    width: 90%;
    padding: 100px 0;
    margin: 0 auto;
}

header div {
    
    font-family: Orator Std;
    font-size: 36px;
}

header div nav {
}

header nav ul {
    width: 1090px;
}

header div nav ul a {
    display: inline-block;
    padding: 0 40px;
    text-transform: uppercase;

}






.f_center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.f_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
article{
    margin-bottom: 180px !important;
}